@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}

.caixa{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.caixa::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.caixa::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.linhabordal{
    position: absolute;
    top: 0;
    inset: 0;
}

.linhabordal::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.linhabordal::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}


@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.caixa form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.caixa form h1{
    color: white;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.caixa form .cachola{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.caixa form .cachola input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.caixa form .cachola span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.caixa form .cachola input:valid ~ span,
.caixa form .cachola input:focus ~ span{
    color: white;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.caixa form .cachola i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.caixa form .cachola input:valid ~ i,
.caixa form .cachola input:focus ~ i{
    height: 44px;
}

.caixa form .link{
    display: flex;
    justify-content: space-between;
}

.caixa form .link a{
    margin: 10px 0px;
    font-size: 0.75em;
    color: #3cc62b;
    text-decoration: none;
}

.caixa form .link a:hover
.caixa form .link a:nth-child(2){
    color: white;
}

.caixa form button[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: gold;
    cursor: pointer;
    font-weight: 600;
    width: 100px;
    margin-top: 10px; 
    border-radius: 5px;
}

.caixa form input[type="submit"]:active{
    opacity: 0.8;
}
